header.headerCont h1{
    text-align: center;
}

.imgMedal{
    display:none;
}

.imgMenu{
    display: inline-block;
}

.imgProfile{
    display: none;
}

.titulo{
    font-size: 35px;
    margin-left: 3%;
    vertical-align: top;
    margin-top:3%;
}

.menu{
    display: none;
}